/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #a52a2a;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: #fff;
}

button:hover{
    box-shadow: 0px 0px 8px #FF0000;
    transform: scale(1.05);
}

h2.titulo{
    color: #000;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #a52a2a;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #a52a2a;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}


/* ESTILO DO CABEÇALHO */

/* Estilo base */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1000; 
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 4%;
    transition: top 0.3s;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 100px;
    height: auto;
}

.menu-desktop ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-desktop ul li {
    margin: 0 15px;
}

.menu-desktop ul li a {
    text-decoration: none;
    color: #a52a2a;
    transition: 0.2s;
}

.menu-desktop ul li a:hover {
    color: #5a5a5a;
}

.menu-btn{
    display: none;
}

/* Estilos para o botão de hambúrguer */
.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 5px;
    cursor: pointer;
}

.menu-btn span {
    display: block;
    height: 6px;
    background-color: #a52a2a;
    transition: 0.3s;
    margin: 3px 0;
}

.btn-contato button {
    background-color: #a52a2a;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* Responsivo */
@media (max-width: 1020px) {
    /* Esconde o menu e botão de contato inicialmente */
    
    .logo {
        position: absolute;  /* Fixando a logo no canto */
        left: 0px;           /* Ajuste a distância do canto esquerdo */
        top: 70%;            /* Alinha verticalmente ao centro do header */
        transform: translateY(-50%);  /* Corrige o alinhamento para ficar centrado verticalmente */
    }
    
    .logo img {
        width: 100px;
        height: auto;
    }

    .menu-desktop {
        display: none;
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        flex-direction: column;
        align-items: center;
    }

    .menu-desktop ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .menu-desktop ul li {
        margin: 15px 0;
    }

    .btn-contato {
        display: none;
    }

    /* Exibe o botão de menu (hambúrguer) */
    .menu-btn {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        color: #a52a2a;
        cursor: pointer;
        position: absolute;
        top: 30px;
        left: 90%;
    }

    .menu-btn:hover{
        background-color: transparent;
    }

    .menu-btn:focus {
        outline: none;
    }

    /* Exibe o menu quando ativo */
    .menu-desktop.active {
        display: flex;
    }

    .logo img {
        width: 120px;
        height: auto;
    }
}

/* ESTILO DO TOPO DO SITE */

.topo-do-site {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 90px;
}

.txt-topo-site {
    width: 50%;
    padding: 20px;
}

.txt-topo-site h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.txt-topo-site p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.img-topo-site {
    width: 40%;
    position: relative;
}

.carrossel img{
    width: 100%;
}

/* Responsivo - Layout em coluna para telas menores */
@media (max-width: 768px) {
    .topo-do-site {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .txt-topo-site {
        width: 100%;
        text-align: center;
    }

    .txt-topo-site h1 {
        font-size: 2rem;
    }

    .txt-topo-site p {
        font-size: 1rem;
    }

    .img-topo-site {
        width: 100%;
    }
}

/* ESTILO SOBRE */
section.sobre{
    padding: 100px 4%;
}

section.sobre img{
    width: 275px;
    height: auto;
    border-radius: 20px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #000;
    
}

section.sobre h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #a52a2a;
}

.sobre .txt-sobre p{
    margin: 15px 0;
    text-align: justify;
    font-size: 20px;
}

.sobre .txt-sobre p span{
    color: #a52a2a;
}

/* CLIENTES */

.clientes-section {
    padding: 50px 20px;
    text-align: center;
  }
  
  .titulo-clientes h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #a52a2a;
  }
  
  .titulo-clientes p {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 30px;
  }
  
  .clientes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .cliente-card {
    background: #a52a2a;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .cliente-card:hover {
    transform: scale(1.05);
  }
  
  .cliente-imagem img,
  .cliente-imagem video {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  
  .cliente-texto {
    padding: 20px;
    text-align: left;
  }
  
  .cliente-texto h3 {
    font-size: 1.25rem;
    color: #fff;
  }
  
  .cliente-texto p {
    font-size: 1rem;
    color: #fff;
  }

  /* Responsividade */
@media (max-width: 768px) {
    .clientes-section {
      padding: 30px 15px;
    }
  
    .titulo-clientes h2 {
      font-size: 1.75rem;
    }
  
    .titulo-clientes p {
      font-size: 0.9rem;
    }
  
    .cliente-texto h3 {
      font-size: 1.1rem;
    }
  
    .cliente-texto p {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .clientes-section {
      padding: 20px 10px;
    }
  
    .titulo-clientes h2 {
      font-size: 1.5rem;
    }
  
    .titulo-clientes p {
      font-size: 0.8rem;
    }
  
    .cliente-texto h3 {
      font-size: 1rem;
    }
  
    .cliente-texto p {
      font-size: 0.85rem;
    }
  }

/* Estilo Servicos */

section.servicos {
    padding: 60px 4%;
}

section.servicos h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #a52a2a;
}

.servicos-lista {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
}

.servico {
    background-color: #a52a2a;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 32%;
    text-align: center;
}

.servico i {
    font-size: 40px;
    margin-bottom: 20px;
}

.servico h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.servico p {
    font-size: 16px;
}

/* Responsivo - Layout em coluna para telas menores */
@media (max-width: 1020px) {
    .servicos-lista {
        flex-direction: column;
        gap: 20px;
    }

    .servico {
        width: 100%;
    }
}

/*FALE CONOSCO*/

.consulta{
    padding: 80px 4%;
}

.titulo-formulario {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #a52a2a;
    margin-bottom: 20px;
}

form {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 15px; /* Espaçamento entre os inputs */
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

input, select, textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #a52a2a;
}

::placeholder{
    color: #fff;
}

textarea {
    resize: none; /* Impede o redimensionamento */
}

.btn-consulta {
    margin-top: 20px;
    padding: 10px;
    width: 70%;
    background-color: #a52a2a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #a52a2a;
}

/* Estilo do rodapé */

.footer {
    background-color: #a52a2a;
    color: #fff;
    padding: 40px 4%;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.footer h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #fff;
}

.footer p {
    font-size: 16px;
    line-height: 1.5;
}

.footer p a{
    color: #fff;
    text-decoration: none;
    text-align: justify;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 10px 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #4a1c1c;
}

.footer-social .btn-social {
    display: flex;
    gap: 10px;
}

.footer-social button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #a52a2a;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-social button:hover {
    background-color: #a52a2a;
    color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: var(--cor3);
}

@media screen and (max-width: 1020px) {
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-social .btn-social {
        justify-content: center;
        align-items: center;
    }
}

/* responsivo */

@media screen and (max-width: 1020px){
    /* Classes gerais */
    .flex{
        flex-direction: column;
    }
    
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }
    
    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    /* nossos serviços */
    section.servicos{
        padding: 40px 8% ;
    }
    
    /* sobre */
    section.sobre{
        padding: 80px 8%;
    }
    
    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    
    .btn-social{
        text-align: center;
    }
    
    /* depoimentos / clientes */
    section.clientes{
        padding: 80px 8%;
    }
    
    /* rodapé */
    
    .logo-footer{
        text-align: center;
        margin-bottom: 10px;
    }
        
    
}
