/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #FF0000;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px #FF0000;
    transform: scale(1.05);
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #FF0000;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #FF0000;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}


/* ESTILO DO CABEÇALHO */

header{
    padding: 30px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: #fff;
}

header .logo > h2{
    font-size: 1.5rem;
}

header .logo > h2 > span {
    color: #ff0000;
}


header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 20px;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 100px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #FF0000;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 300px;
    height: auto;
}


@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO SERVICOS */

section.servicos{
    padding: 100px 4%;
}

section.servicos .flex{
    gap: 60px;
}

.servicos .servicos-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.servicos .servicos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffffff78;
}

.servicos .servicos-box i{
    font-size: 70px;
    color: #FF0000;
}

.servicos .servicos-box h3{
    font-size: 24px;
    margin: 15px 0;
}

/* ESTILO SOBRE */
section.sobre{
    padding: 100px 4%;
}

section.sobre img{
    width: 275px;
    height: auto;
    border-radius: 20px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
    
}

.sobre .txt-sobre h2{
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 25px;
}

.sobre .txt-sobre h2 span{
    color: #FF0000;
    display: block;
}

.sobre .txt-sobre p{
    margin: 15px 0;
    text-align: justify;
}

.sobre .txt-sobre p span{
    color: #FF0000;
}

/* ESTILO CLIENTES */

section.clientes {
  padding: 100px 4%;
}

section.clientes .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  width: 100%;
}

.clientes-description {
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  color: #fff;
}

.swiper.mySwiper {
  margin-top: 40px;
  width: 100%;
  height: auto;
}

.swiper-slide {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-text {
  font-style: italic;
  color: #555;
  margin-bottom: 10px;
}

.testimonial-author {
  color: #d32f2f;
  font-weight: bold;
}

section.clientes .swiper-button-prev {
  color: #d32f2f;
}

section.clientes .swiper-button-next{
  color: #d32f2f;
}

section.clientes .swiper-pagination-bullet {
  background-color: #d32f2f;
}

section.clientes .swiper-pagination-bullet-active {
  background-color: #d32f2f;
}

/* ESTILO CONTATO */

section#contato{
    padding: 100px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 50%;
    background-color: #ff0000;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* Estilo do rodapé */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.10);
}

footer .flex{
    justify-content: space-between;
}

footer .logo-footer {
    color: #fff;
}

.borda{
    border-top: 2px solid #ff0000;
}

footer .logo-footer > h2{
    font-size: 1.5rem;
}

footer .logo-footer > h2 > span {
    color: #ff0000;
}

footer .line-footer{
    padding: 20px 0;
}

footer .line-footer p{
    color: #fff;
    text-align: center;
}

/* responsivo */

@media screen and (max-width: 1020px){
    /* Classes gerais */
    .flex{
        flex-direction: column;
    }
    
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }
    
    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }
    
    /* topo do site */
    section.topo-do-site .flex{
        gap: 40px;
    }
    
    section.topo-do-site{
    padding: 20px 8%;
}
       
    .topo-do-site h1{
        font-size: 30px;
}   
    
    .topo-do-site .img-topo-site img{
        width: 100%;
}

    /* nossos serviços */
    section.servicos{
        padding: 40px 8% ;
    }
    
    /* sobre */
    section.sobre{
        padding: 80px 8%;
    }
    
    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    
    .btn-social{
        text-align: center;
    }
    
    /* depoimentos / clientes */
    section.clientes{
        padding: 80px 8%;
    }
    
    /* rodapé */
    
    .logo-footer{
        text-align: center;
        margin-bottom: 10px;
    }
        
    
}
